/*Variables*/
$font-logo: 'Rubik', sans-serif;
$font-text: 'Lobster', cursive;
$color-one: #2c2c54;
$color-two: #fff;
$color-three: #33d9b2;
$color-for: #0097e6;
$transition: all 1s;

.navigationBar li{
    list-style: none;
    
}
body{
    font-size: 48px;
    color: $color-three: #33d9b2;;
}